@mixin center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($just:center, $dir:row, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    flex-wrap: wrap;
}