.navbar {
    width: 100vw;
    height: 10vh;
    background-color: rgba(46, 46, 46, 0.2);

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    >#container-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        height:100%;
        width: 8vw;
        >img {
            width: 6em;
            height: 6em;
        }
    }

    >ul {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width:92vw;
        >li {
            width: 12em;
            height: 100%;
                
            display: flex;
            justify-content: center;
            align-items: center;
        
            >a {
                position: relative;
                color: $black;
                font-size: 20px;
                font-family: 'Poppins';
                font-weight: 600;
            }

            >a::after {
                content: "";
                position: absolute;
                background-color: $black;
                height:2px;
                width: 0.7em;
                bottom: 0;
                left: 0;
                transition: all 0.4s ease-in-out;
            }
        }

        li:hover {
            background-color: rgba(46, 46, 46, 0.1);
            box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.4);

            >a::after {
                color: $black;
                background-color: $black;
                width: 100%;
            }
        }
    }
}