main {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em;

    .container-staff {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        
        h2:first-child {
            font-size: 44px;
            margin-bottom: 1em;
        }
        
        p:nth-child(2) {
            font-size: 20px;
        }
        
        .container-btn {
            padding: 1em;
            width: 50%;
            display: flex;
            justify-content: center;
            gap: 1.6em;

            >div {
                cursor: pointer;
                padding: 0.5em;
                background-color: rgb(241, 241, 241);
                font-family: 'Poppins';
                width: 20%;
                text-align: center;
                border-radius: 8px;
                box-shadow: 0px 0px 15px -5px grey;

                // Empeche le surlignage
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }

            div:hover {
                background-color: $primaryColor;
                color: $white;
            }
        }

        .grid-staff {
            width: 100%;
            height:40vh;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            .row{
                // display: none;
                transition: all .7s ease;
                opacity: 0;
                position: absolute;
                top:1em;
                // border: 1px solid rgb(219, 219, 219);
                border-radius: 8px;
                box-shadow: 0px 5px 20px -5px grey;
                max-width: 50em;

                >div {
                    background-color: $primaryColor;
                    background-size: cover;
                    background-image: url(/assets/img/LogoNNNoiretblanc.png);
                    width: 8em;
                    height: 10em;
                    margin: 2em;
                }
            }

            >#row-fonda {
                width: 40em;
                display: flex;
                justify-content: center;
            }

            #row-staff {
                width: 40em;
                display: flex;
                justify-content: center;
            }

            #row-modo {
                display: flex;
                justify-content: center;
            }

            #row-mentor {
                display: flex;
                justify-content: center;
            }
        }
    }
}