main {
    height: auto;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6em;

    .container-staff {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 80%;
        
        h2:first-child {
            font-size: 44px;
        }
        
        p:nth-child(2) {
            font-size: 20px;
        }
        
        .grid-staff {
            width: 100%;
            height:auto;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            >.row-fonda {
                width: 100%;
                
                display: flex;
                justify-content: center;
                
                >a {
                    background-color: grey;
                    background-size: cover;
                    background-image: url(/assets/img/LogoNNNoiretblanc.png);
                    width: 8em;
                    height: 10em;
                    margin: 2em;
                }
            }
            .row-staff {
                width: 100%;
                
                display: flex;
                justify-content: center;
                
                >a {
                    background-color: grey;
                    background-size: cover;
                    background-image: url(/assets/img/LogoNNNoiretblanc.png);
                    width: 8em;
                    height: 10em;
                    margin: 2em;
                }
                
            }
            .row-modo {
                width: 100%;
                
                display: flex;
                justify-content: center;
                
                >a {
                    background-color: grey;
                    background-size: cover;
                    background-image: url(/assets/img/LogoNNNoiretblanc.png);
                    width: 8em;
                    height: 10em;
                    margin: 2em;
                }
                
            }
            .row-mentor {
                width: 100%;
                
                display: flex;
                justify-content: center;
                
                >a {
                    background-color: grey;
                    background-size: cover;
                    background-image: url(/assets/img/LogoNNNoiretblanc.png);
                    width: 8em;
                    height: 10em;
                    margin: 2em;
                }
                
            }
        }
    }
}